.overflow-y {
  overflow-y: auto;
}

.m-l-16 {
  margin-left: 16px !important;
}

.cursor {
  cursor: pointer;
}

.on-hover {
  .display-on-hover {
    visibility: hidden;
  }

  &:hover {
    .display-on-hover {
      visibility: visible;
    }
  }
}